# Exercises: Working with Databases in Python

For the exercises, we will be practicing the steps outlined in this [article](https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd). You can skip the portion where the author downloads a separate SQL client to examine the database.

## Import Libraries

We will need `pandas` and `sqlite3`. SQLite is a small, self-contained database engine that comes with Python so you will not have to do any additional installations for this lesson. If you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a driver which helps to connect a database to an application.

In [1]:
# Import sqlite3 and pandas.

import sqlite3 as sl
import pandas as pd

## Create a Database

In the article, the author shows how to use `sqlite3` to open a connection to an existing database or create a new one. Use this method to make a new database called `exercises.db`.

In [5]:
# Create a new database called exercises.db.

con = sl.connect('exercises.db')
print ("Opened database successfully");

Opened database successfully

## Create a Table

Follow the steps in the article to create a table called `favorite_books.db`. This table should include columns for the title, author, and a short description of why it is a favorite.

In [11]:
# Create a new table in your database.

con.execute('''CREATE TABLE favorite_books
         (ID INT PRIMARY KEY     NOT NULL,
         title           TEXT    NOT NULL,
         author            INT     NOT NULL,
         description        CHAR(50));''')
print ("Table created successfully");

con.close()

print (favorite_books)

OperationalError: table favorite_books already exists

## Insert Records

Add 3 entries to your table for your top 3 favorite books.

# Add your 3 favorite books to your table.

sql = 'INSERT INTO favorite_books (id, title, author, description) values(?, ?, ?, ?)'
data = [
    (1, 'All About Love', 'belle hooks', 'radical love'),
    (2, 'Wow, No Thankyou', 'Samantha Irby', 'unbeleivably hilarious and relatable take on dating, life, awkwradness'),
    (3, 'Cracy Rick Asians', 'Kevin Kwan', 'lavish fantastical imagery, snark humour, diff culture')
    
]

with con:
    con.executemany(sql, data)

In [21]:
# Add your 3 favorite books to your table.

    
con.execute("INSERT INTO favorite_books (id, title, author, description) values (1, 'All About Love', 'belle hooks', 'radical love')");

con.execute("INSERT INTO favorite_books (id, title, author, description) values (2, 'Wow, No Thankyou', 'Samantha Irby', 'unbeleivably hilarious and relatable take on dating, life, awkwradness')");

con.execute("INSERT INTO favorite_books (id, title, author, description) values (3, 'Crazy Rick Asians', 'Kevin Kwan', 'lavish fantastical imagery, snark humour, diff culture')");

con.commit()
print ("Records created successfully");
con.close()

Records created successfully

## Query Your Table

Write a `SELECT` query to output the 3 records in your table.

In [26]:
# Write your SELECT query here.


con = sl.connect('exercises.db')
print ("Opened database successfully");

cursor = con.execute("SELECT id, title, author, description from favorite_books")
for row in cursor:
   print ("ID = ", row[0])
   print ("Title = ", row[1])
   print ("Author = ", row[2])
   print ("Description = ", row[3]), "\n"

print ("Operation done successfully");
con.close()

Opened database successfully
ID =  1
Title =  All About Love
Author =  belle hooks
Description =  radical love
ID =  2
Title =  Wow, No Thankyou
Author =  Samantha Irby
Description =  unbeleivably hilarious and relatable take on dating, life, awkwradness
ID =  3
Title =  Crazy Rick Asians
Author =  Kevin Kwan
Description =  lavish fantastical imagery, snark humour, diff culture
Operation done successfully

## Create a New Table with Pandas

Create a new table called `favorite_movies` with your top 3 favorite movies. Each movie should have an id and a title. This time, use Pandas to first make a dataframe and then write the dataframe to SQL. Write a `SELECT` query to confirm that the new table does have your top 3 favorite movies.

In [28]:
# Use Pandas to make a new table in your database.

con = sl.connect('exercises.db')
print ("Opened database successfully");

con.execute('''CREATE TABLE favorite_movies
         (ID INT PRIMARY KEY     NOT NULL,
         title           TEXT    NOT NULL);''')

print ("Table created successfully");

con.close()

print (favorite_movies)

Opened database successfully
Table created successfully

NameError: name 'favorite_movies' is not defined

In [30]:
con = sl.connect('exercises.db')

con.execute("INSERT INTO favorite_movies (id, title) values (1, 'Aladdin')");

con.execute("INSERT INTO favorite_movies (id, title) values (2, 'Grease')");

con.execute("INSERT INTO favorite_movies (id, title) values (3, 'Chicago')");

con.commit()
print ("Records created successfully");
con.close()

Records created successfully

In [33]:
con = sl.connect('exercises.db')
print ("Opened database successfully");

cursor = con.execute("SELECT id, title from favorite_movies")
for row in cursor:
   print ("ID = ", row[0])
   print ("Title = ", row[1]), "\n"

print ("Operation done successfully");
con.close()

Opened database successfully
ID =  1
Title =  Aladdin
ID =  2
Title =  Grease
ID =  3
Title =  Chicago
Operation done successfully